$gradient-primary : linear-gradient(90.39deg, #666666 0%, #E5E5E5 100%);
$gradient-secondary: linear-gradient(134.67deg, #EC8BC9 0%, #F09BAA 100%);
$gradient-light: linear-gradient(134.67deg, #EF8E8B 0%, #EFC8A2 100%);
$gradient-bg: linear-gradient(90.62deg, rgba(194, 162, 249, 0.04) 0.52%, rgba(132, 169, 231, 0.16) 21.3%, rgba(239, 200, 236, 0.36) 99.46%);
$primary : #9778F7;
$primary-light : #F6F3FE;
$card-bg: #EBE3FF;
$black : #000000;
$light-black : #121212B2;
$white : #ffffff;
$secondary : #666666;
$border-color : #E5E5E5;